
* {
    margin: 0px;
}
.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.col > div {
    background-color: red;
}

.col {
display: flex;
background: rgb(214, 104, 40);
flex-grow: 0.25;
border: 1px solid black;
padding: 15px;
}

@media (max-width: 720px) {
    .col{
        width: 45%;
    }
  }

@media (max-width: 360px) {
    .col{
        width:100%
    }
  }