.flex-grid {
    display: flex;
    gap: 20px;
    flex-direction: row;
}
.flex-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
.flex-grid .col {
    width: 25%;
  }

.flex-grid-2 > div {
    border: 1px solid black;
    font-size: 2vw;
    padding: 8px;
}

.col {
background: rgb(214, 104, 40);
padding: 20px;
}

@media (max-width: 720px) {
    .flex-grid {
        flex-wrap: wrap;
        gap:15px;
    }
  }

@media (max-width: 360px) {
    .flex-grid {
        flex-direction: column;
    }
  }